<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="leftContainer">
            <div id="lsContainer">
                <header>Dropinks</header>
                <article>
                    <h2><a href="http://www.dropinks.com/gooey-effect-in-pagination/">Gooey animation in pagination
                            using SVG</a></h2>
                </article>

                <article>
                    <h2><a href="http://www.dropinks.com/button-group-animation-in-svg/">Button group animation in
                            SVG</a></h2>
                </article>

                <article>
                    <h2><a href="http://www.dropinks.com/say-no-to-jquery-for-tooltip/">Say no to jquery for tooltip</a>
                    </h2>
                </article>

                <article>
                    <h2><a href="http://www.dropinks.com/sortable-animation-using-jquery/">Sortable Animation using
                            Jquery</a></h2>
                </article>

                <article>
                    <h2><a href="http://www.dropinks.com/animated-switch-button/">Animated Switch Button</a></h2>
                </article>

                <article>
                    <h2><a href="http://www.dropinks.com/scroll-timeline-using-javascript/">Scroll timeline using
                            javascript</a></h2>
                </article>

                <article>
                    <h2><a href="http://www.dropinks.com/toggle-button-css/">Toggle button with css3</a></h2>
                </article>
            </div>
        </div>
        <div class="rightContainer" id="rightContainer">
            <header>Dropinks</header>
            <article>
                <h2><a href="http://www.dropinks.com/gooey-effect-in-pagination/">Gooey animation in pagination using
                        SVG</a></h2>
            </article>

            <article>
                <h2><a href="http://www.dropinks.com/button-group-animation-in-svg/">Button group animation in SVG</a>
                </h2>
            </article>

            <article>
                <h2><a href="http://www.dropinks.com/say-no-to-jquery-for-tooltip/">Say no to jquery for tooltip</a>
                </h2>
            </article>

            <article>
                <h2><a href="http://www.dropinks.com/sortable-animation-using-jquery/">Sortable Animation using
                        Jquery</a></h2>
            </article>

            <article>
                <h2><a href="http://www.dropinks.com/animated-switch-button/">Animated Switch Button</a></h2>
            </article>

            <article>
                <h2><a href="http://www.dropinks.com/scroll-timeline-using-javascript/">Scroll timeline using
                        javascript</a></h2>
            </article>

            <article>
                <h2><a href="http://www.dropinks.com/toggle-button-css/">Toggle button with css3</a></h2>
            </article>
        </div>
    </div>

    <div class="projHeader">
        <div class="primaryText">Parallel Scrolling</div>
        <div class="secondaryText">Two or more elements</div>
        <div class="createdBy">Created By <a href="http://www.dropinks.com">Dropinks</a></div>
    </div>
    </div>
    <div class="footer">
        <div><a target="_blank" href="http://www.dropinks.com/parallel-scrolling">Read Article</a></div>
        <div><a target="_blank" href="https://twitter.com/dropinksblog">Twitter</a></div>
        <div><a target="_blank" href="https://www.facebook.com/dropinksblog">Facebook</a></div>
    </div>

    <script src="./script.js"></script>
</body>

</html>