.restro-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    height: 180px;
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 1) 0px -50px 36px -28px inset;
}




.desc,
.city,
.name {
    line-height: 1.2;
    text-wrap: nowrap;
}

.desc,
.city {
    opacity: 0.6;
}

.desc::after {
    display: inline-block;
}



.restaurant-list {
    margin: 1% 0;
    display: flex;
    gap: 2.46%;
    overflow-x: scroll;
}