@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 25px 20px -20px;

    & img {
        width: 35px;
    }

    & h3 {

        border-bottom: 1px solid #000;
        /* Customize the color and style */
        padding-bottom: 1px;
    }
}

.header-navbar {
    max-width: 80%;
    padding: 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-grow: 1;
}

/* nav {} */

nav ul {
    display: flex;
    list-style: none;
    /* justify-content: space-between; */
    font-weight: 600;
    position: absolute;
    top: 7%;
    left: 40%;

}

nav li {
    font-family: 'Montserrat';
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
    scale: 1.2;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

nav a:hover {
    color: #333;
}